StackLayout {
  width: 100%;
  background-color: white;
  border-width: 0;
  border-color: black;
}

.title {
  width: 100%;
  padding: 5;
  margin: 0;
  margin-bottom: 10;
  text-align: center;
  background-color: lightgray;
  color: black;
  font-weight: bold;
  font-size: 32;
}

.label {
  width: 100%;
  padding: 5;
  text-align: left;
  font-size: 16;
}

.submit-button {
  background-color: #1797C2;
  color: white;
  font-size: 16;
  margin-top: 20;
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
  padding: 10;
  width: 150;
}
